.weather {
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.weather form {
  margin: auto;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #ec4c6f;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherInfo canvas {
  display: inline-block;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
  color: #141113;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400px;
  position: relative;
  top: -34px;
  line-height: 1;
}
.float-left {
  display: inline-block;
}

.WeatherForecast-temperature-max {
  color: #f94b71;
}

.WeatherForecast-temperature-min {
  color: #e9859b;
}
